svg {max-width: 100vw; max-height: 100vh; }

#title code {margin-top: 0.5em;}

#title {background-color: white; border-radius: 1em;}

#title code {margin-bottom: 0.5em; display: block;}

#ids {position: absolute; bottom: 0; left: 0; background-color: white;}

#clear {margin-left: 2em;}}
#clear:hover {font-weight: bold; color: red; }

rect {transition: fill 1s;}

/* this will hide the ids collection box */
#ids {display: none;}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Fira Sans Bold'), url('./fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Sans'), url('./fonts/FiraSans-Light.ttf') format('truetype');
}


@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Fira Sans'), url('./fonts/FiraSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: bold;
  src: local('Fira Mono Bold'), url('./fonts/FiraMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Mono'), url('./fonts/FiraMono-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Fira Sans OT';
  font-style: italic;
  font-weight: normal;
  src: local('Fira Sans OT'), url('./fonts/FiraSans-LightItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'Fira Sans OT';
  font-style: normal;
  font-weight: bold;
  src: local('Fira Sans OT'), url('./fonts/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans OT';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Sans OT'), url('./fonts/FiraSans-Light.ttf') format('truetype');
}
