svg {max-width: 100vw; max-height: 100vh; }

#title code {margin-top: 0.5em;}

#title {background-color: white; border-radius: 1em;}

#title code {margin-bottom: 0.5em; display: block;}

#ids {position: absolute; bottom: 0; left: 0; background-color: white;}

#clear {margin-left: 2em;}}
#clear:hover {font-weight: bold; color: red; }

rect {transition: fill 1s;}